@import 'bootstrap_and_overrides.less';
@import 'posts.less';
@import 'portfolio.less';

.svg-icon{
  margin-left: -9px;
  margin-top:  5px;
}

.navbar .navbar-brand img {
  .clearfix;
  float: left;
  margin: -14px 10px 0px 10px;
  width: 48px;
}
