.pre{
  white-space: pre-line;
  word-wrap: normal;
  background: transparent;
  text-align: left;
  font-family: @font-family-base;
}

.ace_editor{
  min-height: 500px;
  margin-top: 0;
  &, .ace_content{
    font-family: monospace, monospace;
  }
}

form #post_text{
  visibility: hidden;
  height: 0;
}

#post_preview{
  margin-top: 4em;
}

#tags{
  line-height: @line-height-base * 1.3;
  li{
    display: inline-block;
  }
}

#post_preview_text{
  .post;
  max-height: 500px;
  overflow: scroll;
}

.post{
  img{
    .img-responsive;
  }
}

.tags{
  .list-inline;
  display: inline-block;
}

code{
  background: #eee;
  color: darken(@brand-primary, 15%);
}

pre code{
  color: auto;
}
