%header.navbar.navbar-inverse
  .container-fluid
    .navbar-reader
      .navbar-brand
        = link_to 'CAFFEINEDRIVENDEVEL', posts_url
    .collapse.navbar-collapse#navbar_collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a(href=posts_url) Blog
        %li
          %a(href="") Portfolio
        %li
          %a(href="") About
